<section class="row" ng-controller="AuthenticationController">
  
  <!--<div class="col-md-12 text-center">-->  
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Sign in using your social accounts</h3>
        <!--
        <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
        <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
        <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
        <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">
        <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
        <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png">
        -->

        <a ng-click="callOauthProvider('/api/auth/google')" class="btn btn-block btn-lg btn-social btn-google">
          <i class="fa fa-google"></i> Sign in with Google
        </a>

        <a ng-click="callOauthProvider('/api/auth/facebook')" class="btn btn-block btn-lg btn-social btn-facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
      </div>
    </div>
  </div>
  <!--signup and signin-->
  <div ui-view></div>
</section>
